.body {
    box-sizing: border-box;
}

header { 
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    background-color: rgb(17, 12, 40);
    color: aliceblue;
    text-decoration: none;
    
}

header a {
    color: inherit;
    text-decoration: none;
}